doctype html
html.no-js(lang='', ng-app='golf-parc', ng-controller='MainCtrl', ng-strict-di='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Golf Parc
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // CSS Vendor
    // build:css assets/styles/vendor.min.css
    // bower:css
    // endbower
    // endbuild

    // CSS Main
    link(rel='stylesheet', href='assets/styles/main.min.css')

    // Custom Modernizr Build
    script(src='assets/scripts/modernizr.custom.min.js')

  body
    h1 Golf Parc

    // JS Vendor
    // build:js assets/scripts/vendor.min.js
    // bower:js
    // endbower
    // endbuild

    // JS Main
    script(src='assets/scripts/main.min.js')
